
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing:auto;
    box-sizing: border-box;
}
.container {
    max-width: 1397px;
    width: 100%;
    padding:0 10px;
    margin: 0 auto;
}
.header__block {
    padding:26px 40px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.btn {
    padding: 15px 44px;
    color: #fff;
    background: #fb4b4d;
    text-decoration: none;
    font-size: 14px;
    line-height: 154%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.btn:hover {
    background-color: #fff;
    color: #fb4b4d;
    transition: 0.5s;
}
.menu-burger {
    display: none;
}
.burger-logo {
    display: none;
}
.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 80px;
}
.menu-link {
    color: #222;
    text-decoration: none;
    font-size: 14px;
    line-height: 154%;
    letter-spacing: 0.04em;
    text-transform: uppercase;  
}
.menu-link:hover {
    color: #fb4b4d;
}
label {
    display: none;
}
.hero-row {
    border: 1px solid #000;
    display: flex;
    flex-direction:row;
}

.logo-big {
    margin: 0;
    border-bottom: 1px solid #000;
}
.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.hero__ticker {
  overflow: hidden;
 }
.ticker__wrapper {
    display: flex;
    justify-content: center;
    gap: 23px;
}
.ticker__item {
    flex-shrink: 0;
    margin: 0;
    font-size: 17px;
    line-height: 152%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    animation: ticker 5s linear infinite;
}
@keyframes ticker {
    0% {
        transform: translateZ(0);
    }
    to {transform: translate3d(100%,0,0);

    }
}
.hero-right {
   border-left: 1px solid #000;
   width: 50%; 
}
.hero-right-desc {
    font-weight: 400;
    margin: 0;
    font-size: 58px;
    line-height: 111%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    max-width: 536px;
    width: 100%;
    padding: 26px 81px ;
   
}

.img-hero-right {

    padding: 20px 20px 30px;
    border-top:  1px solid #000;
}
.img-hero-left {
    margin: 0;
    padding:20px;
    border-top:  1px solid #000;
}
.products__border {
    border: 1px solid #000;
    display: flex;
    gap: 51px;
    align-items: center;
    padding:  58px 30px;
    
}
.products__title {
    font-weight: 400;
    margin: 0;
    font-size: 65px;
    line-height: 112%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    max-width: 785px;
    text-align: center;
}
.products__decoration {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 40px;
    margin: 0 -20px -100px;
}
.card {
    padding: 0 23px 23px;
    background: url(../img/back_product_img.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 658px;
    display: flex;
    gap: 14px;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}
.products__contant {
    border: 1px solid #000;
    padding-top: 20px;
}
.products__list {
    margin: 0;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 20px  ;
}
.product__item {
    list-style: none;   
}
.card__title {
    margin: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 119%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
}
.card__taste {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}
.card__img {
    border-radius: 14px;
}
.products__ticker {
    padding: 20px 0;
    overflow: hidden;   
}
.products_bottom_img {
    border-top: 1px solid #000;
    padding: 20px 0;
    text-align: center;
}
.story__row {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    
}
.story__left {
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: content-box;
}
.story__right {
    width: 50%;
    background: url(../img/story_img_right.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:135px 148px ;
}
.story__title {
    padding: 53px 54px;
    margin: 0;
    font-weight: 400;
    font-size: 58px;
    line-height: 111%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
}
.story__text {
    margin: 0;
    padding-bottom: 18px;
    max-width: 390px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}
.ticker__bottom_row {
    border-bottom: 1px solid #000;
    border-top: none;
    overflow: hidden;
    padding: 26px 0;
}
.banner__img {
    border: 1px solid #000;
    border-top: none;
    display: block;
    margin-top: -180px;
}
.footer__content {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 20px 93px;
    background: #cdfd3b;
    margin-top: -5px;
}
.footer__text,
.footer__link {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
#burger-toggle {
  display: none;
}
@media (max-width: 1300px){
    * {
    box-sizing: border-box;
    }

    .menu {
        gap: 30px;
    }
   .products__decoration {
    display: none;
   }
  img,
  .logo-big {
    width: 100%;
    height: auto;
  }
    .hero-right-desc,
    .products__title,
    .story__title {
    font-size:40px ;
  }
  .banner__img {
          margin-top: -130px;
  }
  .story__right {
        background: none;
        padding:50px 50px ;
    }
    .story__text {
        padding-bottom: 10px;

    }
    .story__title {
        width: 100%;
        padding: 20px;
    }
    .card {
        background-size: contain;
        padding: 70px 10px 10px;
        min-height: 550px;
        justify-content: center;
    }
}
@media (max-width:1000px) {
    .story__row {
        display: block;
    }
    .story__right {
        background: url(../img/story_img_right.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding:135px 148px ;
        box-sizing: initial;
    }
    .card__title {
        font-size: 18px;
    }
    .card__taste {
        font-size: 14px;
    }
    .header__block {
        flex-direction: column;
        gap: 20px;
    } 
    .menu {
        display: none;
    }
    label {
        position: relative;
        display: block;
        height: 25px;
        width: 30px;
    }
    label::after, 
    label::before, 
    label span {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color:black;
        transition: .3s;
    }
    label::before {
        content: "";
        top: 0;
    }
    label::after {
        content: "";
        bottom: 0;
    }
     label span {
        top: 11px;
    }
    #burger-toggle:checked~label::after {
        transform: rotate(45deg);
        bottom: 10px;
    }
    #burger-toggle:checked~label::before {
        transform: rotate(-45deg);
        top: 12px;
    }
    #burger-toggle:checked~label span {
        transform: rotate(-45deg);
        top: 12px;
    }
    .burger-logo {
        display: block;
    }
    .menu-burger {
        position: fixed;
        left: 0;
        right: 0;
        list-style: none;
        margin: 0;
        padding-top: 100px;
        z-index: -1;
        flex-direction: column;
        text-align: center;
        left: -100vw;
        right: 100vw;
    }       
    
    .menu-link {
        font-size: 24px;
    }
    /* #burger-toggle:checked~.menu-burger {
        top: 524px;
        bottom: 0;
        transition: .5s;

    } */
     
        #burger-toggle:checked~.menu-burger {
        left: 0;
        right: 0;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card__img {
        border-radius: 10px;
    }
   
}

@media (max-width: 790px) {
    .hero-right-desc,
    .products__title,
    .story__title {
        font-size:23px ;
  }
  .story__text {
    font-size: 14px;
  }
  .story__right {
    padding: 120px;
  }
  .card {
        background: none;
        padding: 10px 10px 50px;
        justify-content: flex-end;
  }
  .products__list {
        background: url(../img/back_product_img.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 5px;
  }
  .hero__ticker {
        display: none;
  }
  .img-hero-left {
        width: 100%;
  }
  .hero-row {
    flex-direction: column;
  }
  .hero-left,
  .hero-right {
    width: 100%;
  }
  .products__border {
    gap: 10px;
    padding: 10px 10px;
  }
  .skarpion__left,
  .skarpion__right {
    width: 150px;
    height: auto;
  }
  .hero-right-desc {
    max-width: inherit;
    border-top: 1px solid;
  }
  .logo-big {
    border: none;
  }
  .card__img {
    border-radius: 7px;
  }
  .banner__img {
    margin-top: -80px;
  }

}
@media (max-width: 600px) {
    .products__list {
        background: none;
        flex-direction: column;
    } 
    .card {
        background: url(../img/back_product_img.png); 
    }
    

}

@media (max-width: 400px) {
    .skarpion__left,
    .skarpion__right {
    width: 95px;
  }

    .card {
        background: url(../img/back_product_img.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .card__img {
        border-radius: 10px;
        width: 95%;
  
}
    .hero-right-desc, 
    .products__title, 
    .story__title {
        font-size: 16px;
    }
    .story__right {
        padding: 100px 10px;
        width: 100%;
        box-sizing: border-box;
    }
}   