.body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing:auto;
}
.container {
  max-width: 1397px;
  width: 100%;
  margin: 0;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}    
.header-row {
    padding:26px 0 26px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.btn {
    padding: 15px 44px;
    color: #fff;
    background: #fb4b4d;
    text-decoration: none;
    font-size: 14px;
    line-height: 154%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.btn:hover {
    background-color: #fff;
    color: #fb4b4d;
    transition: 0.5s;
}
.btn.back {
    margin-left: 20px;
}
.btn.clone {
    margin-right: 20px;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 80px;
}
.menu-link {
    color: #222;
    text-decoration: none;
    font-size: 14px;
    line-height: 154%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
}
.logo {
    display: flex;
    align-items: center;
    gap: 31px;
}
.point-red {
    border: 1px solid #000;
    border-radius: 100px;
    width: 17px;
    height: 17px;
    background: #fb4b4d;
}
.point-blue {
    border: 1px solid #000;
    border-radius: 100px;
    width: 17px;
    height: 17px;  
    background:  #fb4b4d;
}
.point-red:hover,
.point-blue:hover {
    background: #8b83f6;   
}
.hedron {
    position: relative;
    
}
.fire {
    content: "";
    position: absolute;
    background-position: 100%;
    padding-left: 17px;
    padding-top: 10px;    
}
.first {
    padding: 120px 0 40px;
}
.first-row {
    display: flex;
    flex-direction:row;
}
.logo-big-white {
    position: relative;
    padding: 50px;
}
.logo-big-black {
    content: "";
    position: absolute;
    background-position: 100%;
}
.logo-big {
    padding: 20px 20px 40px;
    border-bottom: 1px solid #000;
}
.first-left {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.ticker1 {
    width: 200%;
    height: 78px;
    display: flex;
    align-items: center;
    gap: 29px; 
    animation: ticker1 5s linear infinite; 
}
.ticker1:hover {
    animation-play-state: paused;
}

@keyframes ticker1 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(50%);
    }
}

.ticker1-desc {
    margin: 0;
    font-size: 17px;
    line-height: 152%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.first-right {
   border: 1px solid #000; 
}
.first-right-desc {
    font-size: 58px;
    line-height: 111%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    max-width: 536px;
    width: 100%;
    padding: 26px 81px ;
   
}

.img-first-right {
    padding: 20px 20px 30px;
    border-top:  1px solid #000;
}
.img-first-left {
    margin: 0;
    padding:20px;
    border-top:  1px solid #000;;
}
