body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing:auto;
    box-sizing: border-box;
}
.container {
  max-width: 1397px;
  width: 100%;
  padding:0 100px;
    margin: 0;
}
.header-row {
    padding:26px 0 26px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.btn {
    padding: 15px 44px;
    color: #fff;
    background: #fb4b4d;
    text-decoration: none;
    font-size: 14px;
    line-height: 154%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.btn:hover {
    background-color: #fff;
    color: #fb4b4d;
    transition: 0.5s;
}
.btn.back {
    margin-left: 20px;
}
.btn.clone {
    margin-right: 20px;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 80px;
}
.menu-link {
    color: #222;
    text-decoration: none;
    font-size: 14px;
    line-height: 154%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
}
.logo {
    display: flex;
    align-items: center;
    gap: 31px;
}
.point-red {
    border: 1px solid #000;
    border-radius: 100px;
    width: 17px;
    height: 17px;
    background: #fb4b4d;
}
.point-blue {
    border: 1px solid #000;
    border-radius: 100px;
    width: 17px;
    height: 17px;  
    background:  #fb4b4d;
}
.point-red:hover,
.point-blue:hover {
    background: #8b83f6;   
}
.hedron {
    position: relative;
    
}
.fire {
    content: "";
    position: absolute;
    background-position: 100%;
    padding-left: 17px;
    padding-top: 10px;    
}
.hero-row {
    display: flex;
    flex-direction:row;
}

.logo-big {
    border-bottom: 1px solid #000;
}
.hero-left {
    width: 50%;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.hero__ticker {
  overflow: hidden;
 }
.ticker__wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.ticker__item {
    flex-shrink: 0;
    margin: 0;
    font-size: 17px;
    line-height: 152%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    animation: ticker 5s linear infinite;
}
@keyframes ticker {
    0% {
        transform: translateZ(0);
    }
    to {transform: translate3d(100%,0,0);

    }
}
.hero-right {
   border: 1px solid #000;
   width: 50%; 
}
.hero-right-desc {
    font-size: 58px;
    line-height: 111%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    max-width: 536px;
    width: 100%;
    padding: 26px 81px ;
   
}

.img-hero-right {
    padding: 20px 20px 30px;
    border-top:  1px solid #000;
}
.img-hero-left {
    margin: 0;
    padding:20px;
    border-top:  1px solid #000;
}
.products__border {
    display: flex;
    gap: 51px;
    align-items: center;
    padding:  58px 30px;
    
}
.products__title {
    font-weight: 400;
    margin: 0;
    font-size: 65px;
    line-height: 112%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    max-width: 785px;
    text-align: center;
}
.products__decoration {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.card {
    padding: 0 23px 23px;
    background: url(../img/back_product_img.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 658px;
    display: flex;
    gap: 14px;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}
.products__list {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.product__item {
    list-style: none;
    padding: 0 23px 23px;
    
}
.card__title {
    margin: 0;
}
.products__ticker {
    overflow: hidden;
   
    
}